#main-container{
    background:url("../images/Unit.jpg"), #999;
    background-blend-mode:multiply;
    background-size:cover;
    background-position:center;
    width:calc(100vw - 240px);
    height:384px;
    margin: 0 48px 48px;
    padding:64px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
}

#main-container > div{
    width:calc(100% - 64px);
    height:256px;
    padding:64px;
    background:rgba(255, 255, 255, 0.9);
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    justify-content:center;
    box-shadow:0 0 24px 0 #444;
    gap:18px;
}

#main-container > div > h1{
    margin:0;
    font-size:36px;
    line-height:39px;
}

#main-container > div > p{
    margin:0;
    font-size:14px;
    line-height:18px;

}

#request-quote-btn{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    padding:18px;
    gap:24px;
    background:var(--accent-color);
    text-decoration:none;
    cursor:pointer;
}

#request-quote-btn > p{
    margin:0;
    color:white;
    font-weight:700;
}

#request-quote-btn > img{
    height:18px;
    filter:invert(1);
}

#contact{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:center;
    gap:24px;
}

#instructions{
    width:256px;
    font-size:12px;
    background:var(--light-accent);
    padding:24px;
}

#instructions > p{
    font-size:12px;
    margin:0;
}

.instructions-information{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    gap:12px;
    width:100%;
    margin-top:12px;
}

.instructions-information > img{
    height:14px;
}

.instructions-information > p{
    margin:0;
    font-size:12px;
    font-weight:500;
}

#contact-form{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    text-align:left;
    position:relative;
    padding-bottom:64px;
    gap:6px;
}

#contact-form > h1{
    font-size:16px;
    margin:0;
}

.input, .input-with-btn{
    border:1px solid black;
    position:relative;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin-bottom:24px;
    width:calc(50vw - 280px);
}

.input > img, .input-with-btn > img{
    position:absolute;
    left:9px;
    height:18px;
    filter:invert(0.25);
}

.input > input{
    height:36px;
    width:calc(50vw - 280px);
    padding-left:36px;
    outline:none;
    font-size:14px;
    border:none;
    outline:none;
}

.input-with-btn > input{
    height:36px;
    width:calc(50vw - 316px);
    padding-left:36px;
    padding-right:36px;
    outline:none;
    font-size:14px;
    outline:none;
    border:none;
}

.input-with-btn > input:focus ~ button > img{
    opacity:1;
    visibility:visible;
}

.input-with-btn > button{
    position:absolute;
    right:0;
    height:36px;
    width:36px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background:none;
    border:none;
    outline:none;
}

.input-with-btn > button > img{
    height:18px;
    filter:invert(0.25);
    transition-duration:250ms;
    opacity:0;
    visibility:hidden;
    cursor:pointer;
}

.input-dropdown{
    position:relative;
    transition-duration:250ms;
}

.active-dropdown{
    margin-bottom:268px;
}

.input-dropdown > div{
    position:absolute;
    left:-1px;
    top:38px;
    width:calc(100% - 48px);
    padding:0 24px;
    height:0;
    border:1px solid black;
    overflow-y:scroll;
    overflow-x:hidden;
    visibility:hidden;
    opacity:0;
}

#products-dropdown-list{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
    flex-wrap:wrap;
    gap:12px;
}

#products-dropdown-list > div{
    padding:6px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:6px;
    cursor:pointer;
    position:relative;
}

#products-dropdown-list > div.dropdown-not-selected{
    border:1px solid gray;
}

#products-dropdown-list > div:not(dropdown-not-selected){
    border:1px solid black;
}

#products-dropdown-list > div > div{
    background:black;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:18px;
    height:18px;
    transition-duration:250ms;
    position:absolute;
    right:-9px;
    top:-9px;
}

#products-dropdown-list > div > div > img{
    filter:invert(1);
    height:12px;
}

#products-dropdown-list > div:not(.dropdown-selected) > div{
    opacity:0;
    visibility:hidden;
}

#products-dropdown-list > div.dropdown-selected > div{
    opacity:1;
    visibility:visible;
}

#products-dropdown-list > div > img{
    height:48px;
}

#products-dropdown-list > div.dropdown-not-selected > img{
    filter: grayscale(1);
}

#products-dropdown-list > div > h1{
    font-size:12px;
    width:96px;
    text-align:center;
    margin:0;
    font-weight:600;
}

#products-dropdown-list > div.dropdown-not-selected > h1{
    color:gray;
}

#products-dropdown-list > div:not(dropdown-not-selected) > h1{
    color:black;
}

.active-dropdown > div{
    height:208px;
    padding:24px;
    opacity:1;
    visibility:visible;
}

#contact-form > textarea{
    width:calc(50vw - 306px);
    border:1px solid black;
    padding:12px;
    resize:none;
    outline:none;
}

#contact-form > button:last-of-type{
    padding:12px 64px;
    border:none;
    outline:none;
    background:var(--accent-color);
    color:white;
    text-transform:uppercase;
    letter-spacing:1px;
    font-weight:600;
    transition-duration:250ms;
    position:absolute;
    bottom:0;
    right:0;
    cursor:pointer;
    font-size:14px;
}

#send-modal{
    transition-duration:250ms;
    height:36px;
    padding:6px;
    background:var(--accent-color);
    color:white;
    position:sticky;
    bottom:12px;
    left:12px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    align-self:flex-start;
    width:512px;
    border-radius:24px;
    gap:12px;
}

#send-modal.active-modal{
    visibility:visible;
    opacity:1;
}

#send-modal:not(.active-modal){
    opacity:0;
    visibility:hidden;
}

#send-modal > div{
    height:36px;
    width:36px;
    border-radius:18px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background:white;
}

#send-modal > div > img{
    height:18px;
}

#send-modal > p{
    font-size:16px;
    font-weight:600;
    margin: 0 12px 0 0;
}