#main-container{
    background:url("../images/workers.jpeg"), #999;
    background-blend-mode:multiply;
    background-size:cover;
    background-position:center;
    width:calc(100vw - 240px);
    height:512px;
    margin: 0 48px 48px;
    padding:64px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
}

#main-container > div{
    width:calc(100% - 64px);
    height:384px;
    padding:64px;
    background:rgba(255, 255, 255, 0.9);
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    justify-content:center;
    box-shadow:0 0 24px 0 #444;
    gap:18px;
}

#main-container > div > h1{
    margin:0;
    font-size:36px;
    line-height:39px;
}

#main-container > div > p{
    margin:0;
    font-size:14px;
    line-height:18px;

}

#request-quote-btn{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    padding:18px;
    gap:24px;
    background:var(--accent-color);
    text-decoration:none;
    cursor:pointer;
}

#request-quote-btn > p{
    margin:0;
    color:white;
    font-weight:700;
}

#request-quote-btn > img{
    height:18px;
    filter:invert(1);
}

.product-showcase:nth-child(even){
    background:white;
}

.product-showcase:nth-child(odd){
    background:var(--light-accent);
}

.product-showcase{
    padding:128px 0;
    width:100%;
}